In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/dirty_data.csv')

In [17]:
## show rows with nulls

contain_nulls = df[
    df.SNOW.isnull() | df.SNWD.isna()
    | pd.isnull(df.TOBS) | pd.isna(df.WESF)
    | df.inclement_weather.isna()
]

In [18]:
contain_nulls.shape[0]

765

In [20]:
df[df.inclement_weather == 'NaN'].shape[0] # DOESN'T WORK since Nan (null) is not equal to anything

0

In [22]:
df[df.inclement_weather.isna()].shape[0] # method isna() or isnull() is required

357

In [29]:
df[df.SNWD.isin([-np.inf,np.inf])].shape[0] # return all rows with inf

577

In [32]:
# function returning number of inf from dataframe in each colmun

def get_inf_count(df):
    return {
        col : df[df[col].isin([-np.inf,np.inf])].shape[0] for col in df.columns
    }

In [33]:
get_inf_count(df)

{'date': 0,
 'station': 0,
 'PRCP': 0,
 'SNOW': 0,
 'SNWD': 577,
 'TMAX': 0,
 'TMIN': 0,
 'TOBS': 0,
 'WESF': 0,
 'inclement_weather': 0}

In [34]:
snow_inf = pd.DataFrame({
    'np.inf Snow Depth': df[df.SNWD == np.inf].SNOW.describe(),
    '-np.inf Snow Depth': df[df.SNWD == -np.inf].SNOW.describe(),
}).T

In [35]:
snow_inf

,count,mean,std,min,25%,50%,75%,max
np.inf Snow Depth,24.0,101.041667,74.498018,13.0,25.0,120.5,152.0,229.0
-np.inf Snow Depth,553.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0

In [36]:
station_wesf = df[df.station == '?'].WESF

In [38]:
df.sort_values('station', ascending=False, inplace=True)

In [41]:
df.head(10)

,date,station,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,WESF,inclement_weather
510,2018-08-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,33.3,21.1,21.7,NaN,False
642,2018-11-02T00:00:00,GHCND:USC00280907,1.0,0.0,-inf,21.1,8.9,19.4,NaN,False
538,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
537,2018-09-12T00:00:00,GHCND:USC00280907,1.3,0.0,-inf,22.8,15.6,21.1,NaN,False
636,2018-10-29T00:00:00,GHCND:USC00280907,3.3,0.0,-inf,10.6,6.7,8.3,NaN,False
282,2018-05-15T00:00:00,GHCND:USC00280907,0.5,0.0,-inf,23.3,10.6,17.8,NaN,False
280,2018-05-14T00:00:00,GHCND:USC00280907,5.8,0.0,-inf,11.7,10.0,11.1,NaN,False
278,2018-05-13T00:00:00,GHCND:USC00280907,5.1,0.0,-inf,12.8,9.4,10.6,NaN,False
277,2018-05-12T00:00:00,GHCND:USC00280907,3.0,0.0,-inf,22.2,8.9,10.0,NaN,False
639,2018-10-31T00:00:00,GHCND:USC00280907,0.0,0.0,-inf,12.2,0.0,0.0,NaN,False

In [42]:
df_deduped = df.drop_duplicates('date').drop(
    columns=['station','WESF']
).sort_values('date').assign(
    WESF=station_wesf
)

In [43]:
df_deduped.head(10)

,date,PRCP,SNOW,SNWD,TMAX,TMIN,TOBS,inclement_weather,WESF
0,2018-01-01T00:00:00,0.0,0.0,-inf,5505.0,-40.0,NaN,NaN,NaN
3,2018-01-02T00:00:00,0.0,0.0,-inf,-8.3,-16.1,-12.2,False,NaN
6,2018-01-03T00:00:00,0.0,0.0,-inf,-4.4,-13.9,-13.3,False,NaN
8,2018-01-04T00:00:00,20.6,229.0,inf,5505.0,-40.0,NaN,True,19.3
11,2018-01-05T00:00:00,14.2,127.0,inf,-4.4,-13.9,-13.9,True,NaN
12,2018-01-06T00:00:00,0.0,0.0,-inf,-10.0,-15.6,-15.0,False,NaN
13,2018-01-07T00:00:00,0.0,0.0,-inf,-11.7,-17.2,-16.1,False,NaN
16,2018-01-08T00:00:00,0.0,0.0,-inf,-7.8,-16.7,-8.3,False,NaN
18,2018-01-10T00:00:00,0.0,0.0,-inf,5.0,-7.8,-7.8,False,NaN
19,2018-01-11T00:00:00,0.0,0.0,-inf,4.4,-7.8,1.1,False,NaN

In [44]:
df_deduped.shape

(324, 9)