In [1]:
import pandas as pd
import pandas_datareader.data as web

In [3]:
bit = pd.read_html(
            'https://coinmarketcap.com/currencies/bitcoin/historical-data/'
)[2]

In [4]:
bit.head()

           Date    Open*     High      Low  Close**       Volume    Market Cap
0  Dec 05, 2019  7253.24  7743.43  7232.68  7448.31  18816085231  134706455048
1  Dec 04, 2019  7320.13  7539.78  7170.92  7252.03  21664240918  131143073943
2  Dec 03, 2019  7323.98  7418.86  7229.36  7320.15  14797485769  132359942301
3  Dec 02, 2019  7424.04  7474.82  7233.40  7321.99  17082040706  132378982377
4  Dec 01, 2019  7571.62  7571.62  7291.34  7424.29  18720708479  134215145410

In [5]:
bit = bit.assign(
    Date = pd.to_datetime(bit['Date'])
)

In [7]:
bit.set_index('Date').sort_index().head()

              Open*     High      Low  Close**       Volume    Market Cap
Date
2019-11-06  9340.86  9423.24  9305.91  9360.88  23133895765  168806151583
2019-11-07  9352.39  9368.48  9202.35  9267.56  22700383839  167138722904
2019-11-08  9265.37  9272.76  8775.53  8804.88  24333037836  158808570729
2019-11-09  8809.47  8891.82  8793.16  8813.58  17578630606  158981489715
2019-11-10  8812.49  9103.83  8806.16  9055.53  20587919881  163364406732

In [11]:
labels = bit.columns

In [9]:
import re

In [10]:
re.sub()