In [1]:
import numpy as np

path = r"C:\Users\korze\Desktop\Python\Hands-on data analysis\Hands-On-Data-Analysis-with-Pandas-master\ch_02\data\example_data.csv"

data = np.genfromtxt(path, delimiter=';', names=True, dtype = None, encoding='UTF')

In [2]:
data

array([('2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia', 'mww', 6.7, 'green', 1),
       ('2018-10-13 04:34:15.580', '25km E of Bitung, Indonesia', 'mww', 5.2, 'green', 0),
       ('2018-10-13 00:13:46.220', '42km WNW of Sola, Vanuatu', 'mww', 5.7, 'green', 0),
       ('2018-10-12 21:09:49.240', '13km E of Nueva Concepcion, Guatemala', 'mww', 5.7, 'green', 0),
       ('2018-10-12 02:52:03.620', '128km SE of Kimbe, Papua New Guinea', 'mww', 5.6, 'green', 1)],
      dtype=[('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i4')])

In [3]:
data.shape

(5,)

In [4]:
data.dtype

dtype([('time', '<U23'), ('place', '<U37'), ('magType', '<U3'), ('mag', '<f8'), ('alert', '<U5'), ('tsunami', '<i4')])

In [5]:
%%timeit
max([row[3] for row in data])

4.77 µs ± 357 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
data.dtype.names

('time', 'place', 'magType', 'mag', 'alert', 'tsunami')

In [7]:
array_dict={}

for i, col in enumerate(data.dtype.names):
    array_dict[col] = np.array([row[i] for row in data]) ## reading values from each column to dict

In [8]:
array_dict

{'time': array(['2018-10-13 11:10:23.560', '2018-10-13 04:34:15.580',
        '2018-10-13 00:13:46.220', '2018-10-12 21:09:49.240',
        '2018-10-12 02:52:03.620'], dtype='<U23'),
 'place': array(['262km NW of Ozernovskiy, Russia', '25km E of Bitung, Indonesia',
        '42km WNW of Sola, Vanuatu',
        '13km E of Nueva Concepcion, Guatemala',
        '128km SE of Kimbe, Papua New Guinea'], dtype='<U37'),
 'magType': array(['mww', 'mww', 'mww', 'mww', 'mww'], dtype='<U3'),
 'mag': array([6.7, 5.2, 5.7, 5.7, 5.6]),
 'alert': array(['green', 'green', 'green', 'green', 'green'], dtype='<U5'),
 'tsunami': array([1, 0, 0, 0, 1])}

In [9]:
np.array([value[array_dict['mag'].argmax()] for key, value in array_dict.items()]) ## return row with maximum magnitute
                                                                                    # pay attention to expresssion field!
                                                                                    # returns only index! SMART!

array(['2018-10-13 11:10:23.560', '262km NW of Ozernovskiy, Russia',
       'mww', '6.7', 'green', '1'], dtype='<U31')

In [10]:
import pandas as pd

df = pd.DataFrame(array_dict)

In [11]:
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [12]:
df['place']

0          262km NW of Ozernovskiy, Russia
1              25km E of Bitung, Indonesia
2                42km WNW of Sola, Vanuatu
3    13km E of Nueva Concepcion, Guatemala
4      128km SE of Kimbe, Papua New Guinea
Name: place, dtype: object

In [13]:
np.argmax(df['mag'])  ## row index of maximal magnitude

C:\ProgramData\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:56: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  return getattr(obj, method)(*args, **kwds)

0

In [14]:
df.loc[np.argmax(df['mag'])]  ## return row with maximal magnitude

time               2018-10-13 11:10:23.560
place      262km NW of Ozernovskiy, Russia
magType                                mww
mag                                    6.7
alert                                green
tsunami                                  1
Name: 0, dtype: object

In [15]:
import datetime
np.random.seed(0)

my_dict = {
    'random': np.random.rand(5),
    'text': ['hot', 'warm', 'cool', 'cold', None],
    'truth': [np.random.choice([True,False]) for _ in range(5)]
}

my_index = pd.date_range(
    start = datetime.date(2019,10,30),
    freq = '1D',
    periods = 5,
    name = 'date'
)

rand_frame = pd.DataFrame(my_dict, index= my_index)
rand_frame

              random  text  truth
date
2019-10-30  0.548814   hot  False
2019-10-31  0.715189  warm   True
2019-11-01  0.602763  cool   True
2019-11-02  0.544883  cold  False
2019-11-03  0.423655  None   True

In [16]:
list_of_tuples = [(n, n**2, n**3) for n in range(5)]
pd_list = pd.DataFrame(list_of_tuples, columns=['n','n_squared','n_cubed'])
pd_list

   n  n_squared  n_cubed
0  0          0        0
1  1          1        1
2  2          4        8
3  3          9       27
4  4         16       64

In [17]:
%pwd

'C:\\Users\\korze\\Desktop\\Python\\Hands-on data analysis\\Hands-On-Data-Analysis-with-Pandas-master\\ch_02'

In [18]:
path_earth = r"C:\Users\korze\Desktop\Python\Hands-on data analysis\Hands-On-Data-Analysis-with-Pandas-master\ch_02\data\earthquakes.csv"

In [19]:
earth = pd.read_csv(path_earth)
earth.head(3)

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,sources,status,time,title,tsunami,type,types,tz,updated,url
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,",ci,",automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,",ci,",automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,",ci,",automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...

In [20]:
len(earth.index), len(earth.columns)

(9332, 26)

In [24]:
df

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1
1,2018-10-13 04:34:15.580,"25km E of Bitung, Indonesia",mww,5.2,green,0
2,2018-10-13 00:13:46.220,"42km WNW of Sola, Vanuatu",mww,5.7,green,0
3,2018-10-12 21:09:49.240,"13km E of Nueva Concepcion, Guatemala",mww,5.7,green,0
4,2018-10-12 02:52:03.620,"128km SE of Kimbe, Papua New Guinea",mww,5.6,green,1

In [25]:
df[df.mag >=6]

,time,place,magType,mag,alert,tsunami
0,2018-10-13 11:10:23.560,"262km NW of Ozernovskiy, Russia",mww,6.7,green,1

In [26]:
df.mag >=6

0     True
1    False
2    False
3    False
4    False
Name: mag, dtype: bool